@font-face {
    font-family: 'Hulu';
    src: url('hulustyle-regularitalic-webfont.eot');
    src: url('hulustyle-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('hulustyle-regularitalic-webfont.woff2') format('woff2'),
        url('hulustyle-regularitalic-webfont.woff') format('woff'),
        url('hulustyle-regularitalic-webfont.ttf') format('truetype'),
        url('hulustyle-regularitalic-webfont.svg#hulustyle-regularitalic-webfont') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Hulu';
    src: url('hulustyle-medium-webfont.eot');
    src: url('hulustyle-medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('hulustyle-medium-webfont.woff2') format('woff2'),
        url('hulustyle-medium-webfont.woff') format('woff'),
        url('hulustyle-medium-webfont.ttf') format('truetype'),
        url('hulustyle-medium-webfont.svg#hulustyle-medium-webfont') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Hulu';
    src: url('hulustyle-regularitalic-webfont.eot');
    src: url('hulustyle-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('hulustyle-regularitalic-webfont.woff2') format('woff2'),
        url('hulustyle-regularitalic-webfont.woff') format('woff'),
        url('hulustyle-regularitalic-webfont.ttf') format('truetype'),
        url('hulustyle-regularitalic-webfont.svg#hulustyle-regularitalic-webfont') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Hulu';
    src: url('hulustyle-bolditalic-webfont.eot');
    src: url('hulustyle-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('hulustyle-bolditalic-webfont.woff2') format('woff2'),
        url('hulustyle-bolditalic-webfont.woff') format('woff'),
        url('hulustyle-bolditalic-webfont.ttf') format('truetype'),
        url('hulustyle-bolditalic-webfont.svg#hulustyle-bolditalic-webfont') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Hulu';
    src: url('hulustyle-bold-webfont.eot');
    src: url('hulustyle-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('hulustyle-bold-webfont.woff2') format('woff2'),
        url('hulustyle-bold-webfont.woff') format('woff'),
        url('hulustyle-bold-webfont.ttf') format('truetype'),
        url('hulustyle-bold-webfont.svg#hulustyle-bold-webfont') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hulu';
    src: url('hulustyle-regular-webfont.eot');
    src: url('hulustyle-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('hulustyle-regular-webfont.woff2') format('woff2'),
        url('hulustyle-regular-webfont.woff') format('woff'),
        url('hulustyle-regular-webfont.ttf') format('truetype'),
        url('hulustyle-regular-webfont.svg#hulustyle-regular-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Medium-Web.eot');
    src: url('Graphik-Medium-Web.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Medium-Web.woff2') format('woff2'),
        url('Graphik-Medium-Web.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Bold-Web.eot');
    src: url('Graphik-Bold-Web.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Bold-Web.woff2') format('woff2'),
        url('Graphik-Bold-Web.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Regular-Web.eot');
    src: url('Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Regular-Web.woff2') format('woff2'),
        url('Graphik-Regular-Web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
font-family: 'Hulu', Helvetica, Arial, Verdana, sans-serif;
color: #1c1c1c;
background-color: transparent !important;
background-image: none;
}
/*change some font colors*/
#main p {
color: #1c1c1c;
margin: 0;
font-size: 16px;
line-height: 24px;
}
#main .intro-message p {
font-size: 16px;
line-height: 24px;
color: #1c1c1c;
margin-bottom: 40px;
}
#header {
display: none;
}
#sticky_footer {
display: none;
}
/*not done until print message*/
#main .download p {
color: #1c1c1c;
font-weight: bold;
}
body #footer p span, body #footer p span.copyright {
color: #1c1c1c;
}
#main form ul.radio li label, #main form ul.checkbox li label, #main form ul.flat.radio li label, #main form ul.flat.checkbox li label {
color: #1c1c1c;
}
/*wont be registred message at end of pdf steps*/
#main .download h2 {
color: #1c1c1c;
}
/*box around the you may be eligible message*/
#main form ul .has_license .checkbox-explanation p, #main form ul.flat .has_license .checkbox-explanation p {
color: #1c1c1c;
border: 1px solid #1c1c1c;
border-radius: 0px;
font-size: 18px;
}
/*continue on with state*/
#main .step_4 h3.ovr_step_4 {
color: #1c1c1c;
}
/*change the powered by color*/
body #footer .powered-by-logo .powered-by-text {
color: #111;
}
/* change link colors*/
a:link, a:visited {
color: rgb(51, 112, 187);
}
body #footer p a, body #footer p a:visited, body #footer p a:hover, body #footer p a:link {
color: rgb(51, 112, 187);
text-decoration: none;
}
a:hover {
color: rgb(51, 112, 187);
}
#main p a {
text-decoration: none;
}
/*change header font*/
#header .header-text, #container2 h1 {
font-family: 'Hulu', Helvetica, Arial, Verdana, sans-serif;
/*font-size: 3.25rem;
line-height: 1;
font-weight: normal;*/
color: #1c1c1c;
}
/*remove partner logo from header*/
#header.partner {
    background-image: none;
}
#header {
display: none;
}
#main #other_language_link select {
background-color: transparent !important;
}
#main {
    padding-top: 0px;
}
input:focus {
border-color: #1CE783 !important;
}
label {
    font: normal normal normal 0.875rem 'Graphik', Helvetica, Arial, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
	color: #757575;
	font-weight: 300;
}
#main form ul.radio li label, #main form ul.checkbox li label, #main form ul.flat.radio li label, #main form ul.flat.checkbox li label {
    color: #757575;
    font-weight: 300;
    font-size: 12px;
}
.button a span {
letter-spacing: 2px;
}



@media screen and (min-width: 760px) {
    #header, #main {
        width: 760px;
    }
}

@media screen and (min-width: 600px) {
#header .header-text, #container2 h1 {
    vertical-align: middle;
    height: 110px;
    display: table-cell;
    width: 600px;
}
#finish_page_iframe {
    margin: 30px;
}
#main form ul li.registrant-form__us-citizen__line, #main form ul li.registrant-form__will-be-18-by-election__line, #main form ul li.registrant-form__required-checkbox, #main form ul li.width_f.registrant-form__us-citizen__line, #main form ul li.width_f.registrant-form__will-be-18-by-election__line, #main form ul li.width_f.registrant-form__required-checkbox, #main form ul.flat li.registrant-form__us-citizen__line, #main form ul.flat li.registrant-form__will-be-18-by-election__line, #main form ul.flat li.registrant-form__required-checkbox, #main form ul.flat li.width_f.registrant-form__us-citizen__line, #main form ul.flat li.width_f.registrant-form__will-be-18-by-election__line, #main form ul.flat li.width_f.registrant-form__required-checkbox {
    margin: 35px auto;
}
}




.disclosures * {
    font-size: inherit;
}

/*change footer background to solid color with no border*/
body #sticky_footer {
background-image: none;
border-top: 0px;
background-color: transparent;
}
/*add border around input fields*/
#main form ul li div input, #main form ul li.width_f div input, #main form ul.flat li div input, #main form ul.flat li.width_f div input {
border: 1px solid #e4e4e4;
height: 46px;
}

#main form ul li.registrant-form__home-zip__button button, #main form ul li.width_f.registrant-form__home-zip__button button, #main form ul.flat li.registrant-form__home-zip__button button, #main form ul.flat li.width_f.registrant-form__home-zip__button button {
height: 46px;
}
input, input[type="text"], input[type="number"], textarea {
    border-color: #e4e4e4;
    border-radius:0px !important;
    border-width:1px;
    border-style:solid;
    font:normal normal normal 0.75rem/1.4rem 'Hulu', Helvetica, Arial, Verdana, sans-serif;
    /*font-size: 16px !important;*/
    background-color: #fff;
}
select {
	border-radius: 0px;
}
#main form ul li div select, #main form ul li.width_f div select, #main form ul.flat li div select, #main form ul.flat li.width_f div select {
    border-color: #e4e4e4;
    border-radius: 0px !important;
    border-width: 1px;
    border-style: solid;
    font: normal normal normal 0.75rem/1.4rem 'Hulu', Helvetica, Arial, Verdana, sans-serif;
    /*font-size: 16px !important;*/
    background-color: #fff;
    height: 46px;
}
#main form ul li.registrant-form__us-citizen__line, #main form ul li.registrant-form__will-be-18-by-election__line, #main form ul li.registrant-form__required-checkbox, #main form ul li.width_f.registrant-form__us-citizen__line, #main form ul li.width_f.registrant-form__will-be-18-by-election__line, #main form ul li.width_f.registrant-form__required-checkbox, #main form ul.flat li.registrant-form__us-citizen__line, #main form ul.flat li.registrant-form__will-be-18-by-election__line, #main form ul.flat li.registrant-form__required-checkbox, #main form ul.flat li.width_f.registrant-form__us-citizen__line, #main form ul.flat li.width_f.registrant-form__will-be-18-by-election__line, #main form ul.flat li.width_f.registrant-form__required-checkbox {
    background-color: #fff;
    border: 1px solid #e4e4e4;
}
select#registrant_name_suffix {
    padding-right: 0 !important;
}


#main form ul.radio li label, #main form ul.checkbox li label, #main form ul.flat.radio li label, #main form ul.flat.checkbox li label {
    color: #1c1c1c;
}
/*change border around select boxes*/
#main form ul li.registrant-form__us-citizen__line, #main form ul li.registrant-form__will-be-18-by-election__line, #main form ul li.width_f.registrant-form__us-citizen__line, #main form ul li.width_f.registrant-form__will-be-18-by-election__line, #main form ul.flat li.registrant-form__us-citizen__line, #main form ul.flat li.registrant-form__will-be-18-by-election__line, #main form ul.flat li.width_f.registrant-form__us-citizen__line, #main form ul.flat li.width_f.registrant-form__will-be-18-by-election__line {
border-radius: 0px;
}
/*change button styles*/
#main form .rollover_button button, #main .download .rollover_button a {
	border-radius: 0px;
	background-color: #1c1c1c;
	border: 0px;
	color: #fff !important;
	font-family: 'Graphik', Helvetica, Arial, Verdana, sans-serif;
    letter-spacing: 2px;
    font-weight: 300;
	text-transform: uppercase;
	min-height: 46px;
	font-size: 16px;
}
#main form .rollover_button button:hover, #main .download .rollover_button a:hover {
    background: #1CE783;
    color: #fff !important;
    cursor: pointer;
    transition: background 0.1s ease-out, color 0.01s ease-in;
    font-family: 'Graphik', Helvetica, Arial, Verdana, sans-serif;
}
/*change look of the hang on - you can go on with state alert*/
#main .step_4 h1 {
    color: #000;
    background: #fff;
    font-family: 'Hulu', Helvetica, Arial, Verdana, sans-serif;
}
/*hide already registered link if preferred*/
.already-registered {
    display: none;
}

/*hide the questions*/
fieldset.questions, .questions {
    display: none;
}
body #sticky_footer {
    background-image: none;
    border-top: none;
}
body #footer p a, body #footer p a:visited, body #footer p a:hover, body #footer p a:link {
    color: #666;
}
body #footer .powered-by-logo .powered-by-text {
    color: #666;
}
.powered-by-logo img {
    content: url('//s3.amazonaws.com/rocky-ovr/rock-the-vote-horz-logo.png');
}
/*buttons on share page if partner css linked up*/
.fulltext p {
    color: #1c1c1c;
}
#container2 h1 {
margin-top: 0;
width: auto !important;
display: block !important;
height: auto !important;
font-size: 3rem;
line-height: 3.175rem;
}
#container2 .fulltext:last-child p {
    display: none;
}

#container2 h3 {
font-family: 'Hulu', Helvetica, Arial, sans-serif;
font-weight: normal;
margin-top: 15px;
font-size: 16px;
line-height: 24px;
}

#container2 .button {
background-color: #000 !important;
    font-family: 'Graphik', Helvetica, Arial, Verdana, sans-serif;
    letter-spacing: 2px;
    font-weight: 300;
text-align: center;
text-transform: uppercase;
color: #fff !important;
}
#container2 div.rollover_button a, #container2 div.rollover_button:hover a, #container2 div.rollover_button:active a, #container2 span.rollover_button a, #container2 span.rollover_button:hover a, #container2 span.rollover_button:active a {
color: #fff !important;
}
#container2 div.rollover_button a span, #container2 div.rollover_button:hover a span, #container2 div.rollover_button:active a span, #container2 span.rollover_button a span, #container2 span.rollover_button:hover a span, #container2 span.rollover_button:active a span {
    background-image: none !important;
    padding: 4px 0px;
    width: auto;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    line-height: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Graphik', Helvetica, Arial, Verdana, sans-serif;
    letter-spacing: 2px;
    font-weight: 300;
    text-align: left;
    background-color: #1c1c1c;
    border: none;
    border-radius: 0px;
    text-align: center;
}
#container2 div.rollover_button a, #container2 div.rollover_button:hover a, #container2 div.rollover_button:active a, #container2 span.rollover_button a, #container2 span.rollover_button:hover a, #container2 span.rollover_button:active a {
    background: #1c1c1c !important;
    padding: 10px 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    text-align: center;
}
.share {
margin-top: 30px;
}


@media screen and (max-width: 468px) {
/*
#main form ul li.registrant-form__us-citizen__line, #main form ul li.registrant-form__will-be-18-by-election__line, #main form ul li.registrant-form__required-checkbox, #main form ul li.width_f.registrant-form__us-citizen__line, #main form ul li.width_f.registrant-form__will-be-18-by-election__line, #main form ul li.width_f.registrant-form__required-checkbox, #main form ul.flat li.registrant-form__us-citizen__line, #main form ul.flat li.registrant-form__will-be-18-by-election__line, #main form ul.flat li.registrant-form__required-checkbox, #main form ul.flat li.width_f.registrant-form__us-citizen__line, #main form ul.flat li.width_f.registrant-form__will-be-18-by-election__line, #main form ul.flat li.width_f.registrant-form__required-checkbox {
    margin: 5px auto;
    padding: 10px 10px;
}
#main form ul li div input, #main form ul li.width_f div input, #main form ul.flat li div input, #main form ul.flat li.width_f div input {
    height: 32px;
    padding: 5px 5px;
    font-size: 11px;
}
#main form ul li div select, #main form ul li.width_f div select, #main form ul.flat li div select, #main form ul.flat li.width_f div select {
    font-size: 11px;
    padding: 5px 40px 5px 5px;
    height: 32px;
}
#main form ul li.registrant-form__home-zip__button button, #main form ul li.width_f.registrant-form__home-zip__button button, #main form ul.flat li.registrant-form__home-zip__button button, #main form ul.flat li.width_f.registrant-form__home-zip__button button {
    height: 32px;
}
body #main form ul li.registrant-form__us-citizen__line, body #main form ul li.registrant-form__will-be-18-by-election__line, body #main form ul li.registrant-form__change-of-name__line, body #main form ul li.width_f.registrant-form__us-citizen__line, body #main form ul li.width_f.registrant-form__will-be-18-by-election__line, body #main form ul li.width_f.registrant-form__change-of-name__line, body #main form ul.flat li.registrant-form__us-citizen__line, body #main form ul.flat li.registrant-form__will-be-18-by-election__line, body #main form ul.flat li.registrant-form__change-of-name__line, body #main form ul.flat li.width_f.registrant-form__us-citizen__line, body #main form ul.flat li.width_f.registrant-form__will-be-18-by-election__line, body #main form ul.flat li.width_f.registrant-form__change-of-name__line {
margin-top: 20px;
}
#main form ul .has_license .checkbox-explanation p, #main form ul.flat .has_license .checkbox-explanation p {
font-size: 11px;
}
#main form ul li h3, #main form ul li.width_f h3, #main form ul.flat li h3, #main form ul.flat li.width_f h3 {
height: 20px;
}
#main form .instructions--state-id-number p {
font-size: 11px;
line-height: 13px;
}
#main form ul.radio li label, #main form ul.checkbox li label, #main form ul.flat.radio li label, #main form ul.flat.checkbox li label {
font-size: 11px;
}
body #main form ul .has_license .checkbox-explanation p, body #main form ul.flat .has_license .checkbox-explanation p {
    margin-left: 0;
    margin-right: 0;
}
#main form ul li.registrant-form__has-no-state-license__line, #main form ul li.registrant-form__has-state-license__line, #main form ul li.width_f.registrant-form__has-no-state-license__line, #main form ul li.width_f.registrant-form__has-state-license__line, #main form ul.flat li.registrant-form__has-no-state-license__line, #main form ul.flat li.registrant-form__has-state-license__line, #main form ul.flat li.width_f.registrant-form__has-no-state-license__line, #main form ul.flat li.width_f.registrant-form__has-state-license__line {
    margin: 5px 0 0;
    width: 100%;
}
main form ul.radio li label, #main form ul.checkbox li label, #main form ul.flat.radio li label, #main form ul.flat.checkbox li label {
    font-size: 11px;
}
#main form ul li > div.tooltip, #main form fieldset legend img.tooltip {
    left: -26px;
}
#main form ul li h3, #main form ul li.width_f h3, #main form ul.flat li h3, #main form ul.flat li.width_f h3 {
    height: 18px;
}
.flat span.error, .flat span.example {
height: 16px;
line-height: 16px;
}
body #main form ul li.registrant-form__us-citizen__line, body #main form ul li.registrant-form__will-be-18-by-election__line, body #main form ul li.registrant-form__change-of-name__line, body #main form ul li.width_f.registrant-form__us-citizen__line, body #main form ul li.width_f.registrant-form__will-be-18-by-election__line, body #main form ul li.width_f.registrant-form__change-of-name__line, body #main form ul.flat li.registrant-form__us-citizen__line, body #main form ul.flat li.registrant-form__will-be-18-by-election__line, body #main form ul.flat li.registrant-form__change-of-name__line, body #main form ul.flat li.width_f.registrant-form__us-citizen__line, body #main form ul.flat li.width_f.registrant-form__will-be-18-by-election__line, body #main form ul.flat li.width_f.registrant-form__change-of-name__line {
    margin-top: 10px;
}
#main form fieldset.opt-ins {
    margin-top: 10px;
}
body #sticky_footer {
display: none;
}
#main form ul li.registrant-form__home-zip__button, #main form ul li.width_f.registrant-form__home-zip__button, #main form ul.flat li.registrant-form__home-zip__button, #main form ul.flat li.width_f.registrant-form__home-zip__button {
    margin-top: 18px;
}
#main p {
    font-size: 11px;
}
#container2 div.rollover_button a span, #container2 div.rollover_button:hover a span, #container2 div.rollover_button:active a span, #container2 span.rollover_button a span, #container2 span.rollover_button:hover a span, #container2 span.rollover_button:active a span {
    padding: 4px 0px;
    font-size: 12px !important;
    line-height: 1.4em;
}
#container2 div.rollover_button a, #container2 div.rollover_button:hover a, #container2 div.rollover_button:active a, #container2 span.rollover_button a, #container2 span.rollover_button:hover a, #container2 span.rollover_button:active a {
    padding: 4px 0px;
    font-size: 12px !important;
}*/
#container2 h1 {
font-size: 2rem;
line-height: 2.175rem;
}
}